@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');

.slideshow-container .carousel .carousel-slide {
    position: relative;
    display: flex;
    align-items: center; /* Aligns text vertically */
}

.slideshow-container .carousel .carousel-slide img {
    width: 100%;
    height: auto; /* Adjust height automatically */
}

/* Semi-transparent overlay for the entire slide */
.slideshow-container .carousel .carousel-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    z-index: 1; /* Ensure it's above the image */
}

.slideshow-container .carousel .slide-text-container {
    position: absolute;
    left: 0;
    bottom: 35%;
    width: 50%; /* Occupies left half of the slide */
    z-index: 2; /* Above the overlay */
    font-family: 'Prompt', sans-serif; /* Apply Prompt font */
}

.slideshow-container .carousel .slide-title {
    color: #fff89b; /* White text color */
    margin-left: 7%; /* Text padding from the left */
    z-index: 2; /* Ensure text is above the overlay */
    font-size: 50px; /* Adjust as needed */
    animation: slideUpTitle 1s ease-out;
}

.slideshow-container .carousel .slide-content, .slide-read-more {
    color: #fff; /* White text color */
    margin-left: 7%; /* Text padding from the left for slide content */
    z-index: 2; /* Ensure text is above the overlay */
    font-size: 20px; /* Adjust as needed */
    animation: slideUpContent 1.2s ease-out;
    font-family: 'Prompt', sans-serif; /* Apply Prompt font to content and read more link */
}

@keyframes slideUpTitle {
    0% {
        transform: translateY(100%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes slideUpContent {
    0% {
        transform: translateY(100%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* Delay the animation for slide content */
.slideshow-container .carousel .slide-content {
    animation-delay: 0.5s;
}

.slide-read-more {
  position: absolute;
  bottom: -100%; /* Adjust position to show on the bottom right */
  right: -100%;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds contrast */
  padding: 5px;
  text-decoration: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .slideshow-container .carousel .slide-text-container {
        width: 100%; /* Full width on smaller screens */
        bottom: 10%; /* Adjust position for better visibility */
        font-size: 20px; /* Smaller font size for text container on smaller screens */
    }

    .slideshow-container .carousel .slide-title {
        font-size: 35px; /* Adjust title font size on smaller screens */
        margin-left: 5%; /* Optionally adjust the left margin */
    }

    .slideshow-container .carousel .slide-content, .slide-read-more {
        font-size: 16px; /* Adjust content and read more link font size on smaller screens */
        margin-left: 5%; /* Optionally adjust the left margin for slide content */
    }

    .slide-read-more {
        bottom: 5%; /* Adjust position to show on the bottom */
        right: 5%;
        padding: 10px; /* Optionally adjust padding */
    }
}
